<ul>
    <p>--------------------------------------</p>
    <li>
        <p>Bill: {{billId}}</p>
    </li>
    <li>
        <p>Transaction No: {{transaction}}</p>
    </li>
    <li>
        <p>Status: {{status}}</p>
    </li>
    <li>
        <p>Amount: {{amount}}</p>
    </li>
    <li>
        <p>Date: {{createdAt}}</p>
    </li>
    <p>--------------------------------------</p>
</ul>