<ul>
  <li>
    <p>Bill: {{BillId}}</p>
  </li>
  <li>
    <p>Transaction No: {{transaction}}</p>
  </li>
  <li>
    <p>Status: {{status}}</p>
  </li>
  <li>
    <p>Amount: {{amount}}</p>
  </li>
  <li>
    <p>Date: {{createdAt}}</p>
  </li>
  <hr>
</ul>